//BACKGROUND COLORS
$button-nav-bg: #f9d03f;
$jumbo-bg-color: #eeeeee;
$button-bg-color: #333333;
$cards-bg-color: #f5f5f5;
$second-jumbo-bg: #f5f5f5;

//TEXT COLORS
$text-color-primary: #8f8f8f;
$text-color-secondary: #1e1e1e;
$text-color-white: #ffffff;
$jubo-text-color: #eeeeee;
$icon-color: #f9d03f;


//ICON COLORS
$house-icon-bg: #4ea4a5;
$gear-icon-bg: #4e6da5;
$users-icon-bg: #f6722a;
$lightbulb-icon-bg: #a7cf47;

//MIXIN 
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin button-style{
    text-transform: uppercase;
    font-size: .9rem;
    border: 0;
    padding: .4rem 2.5rem;
}

@mixin horizontal-line-yhellow{
    display: inline-block;
    width: 170px;
    height: 2px;
    background-color: $jumbo-bg-color;
    margin-bottom: 1.5rem;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
